body{
	font-family: 'Lato', sans-serif;
	
}
.grid-container{
	display:grid;
	grid-template-columns: auto 35px 300px 60px  300px 60px 300px 35px auto;
	grid-template-rows:100px 450px 450px 150px ;
	
	
}
.header{
grid-column-start:2; 
grid-column-end:5;
grid-row: 1;
}
.logo{
grid-column-start:2; 
grid-column-end:3;
grid-row: 1;
padding-top: 5px;
padding-bottom:5px;
}
.banner2{
grid-column-start:2; 
grid-column-end:5;
grid-row: 2;
}
.Banner{
grid-column-start:3; 
grid-column-end:5;
grid-row: 2;
padding:20px;
}

.fade{
grid-column-start:3; 
grid-column-end:3;
grid-row: 3;
}
.nivo{
grid-column-start:5; 
grid-column-end:5;
grid-row: 3;
}
.footer{
grid-column-start:2; 
grid-column-end:6;
grid-row: 4;
}

.bonus{
grid-column-start:7; 
grid-column-end:7;
grid-row: 3;
}
.titel{
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row: 2;
  color: white;
}
.tekst{
	grid-column-start:7;
	grid-column-end: 7;
	grid-row: 2;
	padding-top: 100px;
	color: white;
}
.titiel{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row: 3;
  padding-top: 150px;
}
.tekst2{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row: 3;
  padding-top: 200px;
}
.titiel2{
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row: 3;
  padding-top: 150px;
}
.tekst3{
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row: 3;
  padding-top: 200px;
}
.titiel3{
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row: 3;
  padding-top: 150px;
}
.tekst69{
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row: 3;
  padding-top: 200px;
}
.Kleding{
	grid-column-start:1;
	grid-column-end: 3; 
	grid-row:3;
}
.mercedes{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row: 3;
}